@import 'react-big-calendar/lib/css/react-big-calendar.css';

.rbc-toolbar {
    padding: 0 1rem;
}

.rbc-toolbar-label {
    text-align: left !important;
}

.rbc-header {
    --height: 1.75rem;
    height: var(--height);
    line-height: var(--height);
}

.rbc-event-content {
    overflow: auto !important;
    white-space: normal !important;
    font-size: 0.8rem;
}

.event-holiday > .rbc-event-content {
    overflow: hidden !important;
    white-space: nowrap !important;
    font-size: 0.8rem;
}

.rbc-row > .rbc-date-cell:first-child {
    color: red;
}

.rbc-row > .rbc-date-cell:last-child {
    color: blue;
}

.rbc-row-segment:has(> .event-PM){
    justify-content: end;
    display: flex;
}

.event-AM,
.event-PM {
    width: 50%;
}